.navbar .navbar-light .bg-light {
  visibility: hidden;
  color: white !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.top-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 80px;
  margin: 0 auto;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  font-family: "EB Garamond", Times, Serif;

  .navbar-brand {
    padding:0 20px;
    &:hover {
      color: #f1935c;
    }
  }
  .navbar-nav li {
    .navbuttons {
        vertical-align: middle;
    }
    .nav-link {
    color: white;
    font-size: 14px;
    padding: 29px 15px;
    font-weight: 200;
    text-transform: uppercase;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    /* letter-spacing: 0.1em; */
  }
  }

  a.nav-link {
    color: white;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
  }
  li a.nav-link:hover {
    color: #f1935c !important;
  }


}
 .fa .fa-bars {
      color: white;
    }

    .fa .fa-bars .lightup {
      color: #f1935c !important;
    }

     nav.navbar.navbar-expand-lg.navbar-light.light-bg.fixed-top.top-nav.light-header {
    height: 70px;
    background: white !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    .navbar-brand {
      color: #f1935c;
    }

    li {
        .navbutton {
            vertical-align: middle;
        }
        .nav-link {
      color: #f1935c;
      padding: 19px 15px;
      transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;


      li a.nav-link:hover,
      a.nav-link {
        color: rgb(138, 91, 3);
      }
    }
    }
  }


//   HERO
.hero {
  background-image: url("https://ik.imagekit.io/bn1u7wfqt/hero2_EiyXWztFA.jpg");
  background-size: cover;
  background-attachment: fixed;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  font-family: "EB Garamond", Times, Serif;

  h2 {
    font-size: 3.2em;
    font-style: normal;
    font-weight: 200;
    text-transform: none;
    color: white;

    span {
      color:  #f1935c;
  
    }

  }

  p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  .row .pointer {
    padding-top: 100px;
  }
}

.bg-overlay-light:before {
  content: "";
  background: rgba(2, 5, 36, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero-btn {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  height: 64px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.036em;
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  border: 0 solid transparent;
  background: #f1935c;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;

  &:hover {
    padding-left: calc(30px + 15px);
    padding-right: calc(30px + 15px);
    color: darkslategray;
  }
}
